.wrapper {
  width: 100%;
  max-width: 1400px;
  padding: 60px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2.5rem;

  @media (max-width: 900px) {
    flex-direction: column !important;
  }
}

.left,
.right {
  flex: 1 1 0;
  min-width: 300px;
  display: flex;

  @media (max-width: 900px) {
    width: 100%;
    min-width: 0;
  }
}

.left > *,
.right > * { width: 100%; }

.single .left,
.single .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
}
